body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.AlbumThumbnail {
  margin: 6px;

  /* same as .Picture .... can we inherit? */
  /* box shadow */
  -webkit-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);

  /* rounder corners */
  border-radius: 10px;
}


.ImageThumbnail {
  margin: 3px;

  /* same as .Picture .... can we inherit? */
  /* box shadow */
  -webkit-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);

  /* rounder corners */
  border-radius: 10px;
}

.Blurred {
  /* nice magic */
  -webkit-filter: blur(3px) brightness(0.5);
}

.Image {
  /* center horizontal and vertical */
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  /* box shadow */
  -webkit-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);

  /* rounder corners */
  border-radius: 10px;
}

.TheBigRedButton {
  width: 12em;
  height: 12em;
  position: fixed;
  top: 0;
  left: 0;

  /* same as .Picture .... can we inherit? */
  /* box shadow */
  /*-webkit-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 68px -1px rgba(0,0,0,0.75);*/
}
